  </br>
  <%= form_for :task, html: {class: 'form-inline'}, :url => { :action => 'create' } do |f| %>
  <div class="form-group">
    <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "New todo"%>
  </div> &emsp;
  <div class="form-group">
    <%= f.date_field :due_date, :class => "form-control input-lg" %>
  </div> &emsp;
  <div class="input-group">
  <%= f.submit class: 'btn btn-success btn-lg' %>
  </div>
  <% end %>

 